* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



header {
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

header h1 {
    margin: 20px 20px 20px 50px;
}

header img {
    width: 100px;
    height: 100px;
    
}

main {
    background-color: rgb(204, 204, 204);
    margin: 0;
    padding: 0;
}

.carousel {
    width: 60%; 
    height: auto;   
}

#footerbutton {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    }