* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



header {
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

header h1 {
    margin: 20px 20px 20px 50px;
}

header img {
    width: 100px;
    height: 100px;
    
}

main {
    background-color: rgb(204, 204, 204);
    margin: 0;
    padding: 0;
}


.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

footer {
    display: flex;
    justify-content: center;
}

.btn-light {
    padding: 20px 40px 20px 40px;
}

.video {
    display: flex;
    justify-content: center;
}